@import '../../public/css/bootstrap.min.css';
@import '../../public/css/reset.css';
@import '../../public/css/style.css';

.cart-icon {
    position: relative;
    display: inline-block; /* Ensure positioning works */
}

.tooltip {
    position: absolute;
    top: -30px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap; /* Prevent line breaks */
    z-index: 10;
}

